<script type='text/javascript'>
    $(document).ready(
            function () {
                $(".edit").each(
                function (i) {
                    $(this).editable("/projects/" + $(this).parent().attr('id') + '.js', {
                        method    : 'PUT',
                        type      : 'textarea',
                        cancel    : 'Cancel',
                        submit    : 'OK',
                        indicator : "Saving...",
                        tooltip   : 'Click to edit...',
                        name      : 'project[name]',
                        intercept: function (js) {
                           eval(js);
                        }
                    })
            })
 }) ;
</script>

<table id="projects">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @projects.each do |project| %>
  <tr>
    <td id="<%= project.id %>"><div id="project_<%= project.id %>_name" class="edit"><%= project.name %></div></td>
    <td><%= project.description %></td>
    <td>
        <%= link_to 'Show', project %>
        <%= link_to "Edit", edit_project_path(project, :format => :js), :remote => true %>
        <%= link_to 'Destroy', project, :remote => true, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
  </tbody>
<% end %>
</table>
