<p id="notice"><%= notice %></p>

<h1><%= @project.name %></h1>
<div><%= @project.description %></div>

<h3>Actors</h3>
<%= render 'actors/list' %>

<h3>Use cases</h3>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>